### github C++ defaults ###

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo


### custom defaults ###

# MAC OS
*.DS_Store

# editor files
.vscode/
.idea/

# build
/build*/
/compile_commands.json
/__*/
/_build*/
bin/
bin_*/
cmake-build-*/
lib/
lib_*/
out/

# python
.venv
__pycache__/

# misc
CMakeUserPresets.json
*.user
